<!DOCTYPE html>
<html>
<head>
    <title>Greetings</title>
    <link rel="stylesheet" href="/static/styleupdate.css">
</head>
<body>
  <div class="title-box">
    <h1 class="title">Welcome to the Motorcycle rental website</h1>
  </div>
  <form method="post">
    <div class="update-box">
      <h1>These are the motorcycles that have been booked:</h1><br>
      <table>
        <tr>
          <th>S.No.</th>
          <th>Motorcycle Name</th>
          <th>Motorcycle Model</th>
        </tr>
        {% for i in booked %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.model }}</td>
          <td class="action-buttons">
            <button type="submit" name="revert" value="{{ i.id }}">Revert to inventory</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div><br>
    <button name="home-button" value="home">Home</button>
  </form>
</body>
</html>
