<!DOCTYPE html>
<html>
<head>
    <title>Greetings</title>
    <link rel="stylesheet" href="/static/styleupdate.css">
</head>
<body>
  <div class="title-box">
    <h1 class="title">Welcome to the Motorcycle rental website</h1>
  </div>
  <form method="post">
    <div class="update-box">
      <h1>Edit the details of the motorcycle:</h1><br>
      <table>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Brand Name:</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>Model Name:</td>
          <td><input type="text" name="model"></td>
        </tr>
      </table>
    </div><br>
    <button name="submit-button" type="submit">Save</button>
    <button name="cancel-button" value="cancel">Cancel</button>
    <button name="home-button" value="home">Home</button>
  </form>
</body>
</html>
