<!DOCTYPE html>
<html>
<head>
    <title>
        Greetings
    </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body-box">
    <div class="title-box">
    <h1 class="title">Welcome to the Motorcycle rental website</h1>
    </div>
    <br>
    <div class="button-box">
    <form method="post">
        <div class="home">
            <div class="buttons">
                <div class="item">
                <button type="submit" name="button" value="rent">Put up your Motorcycle for rent</button>
                </div>
                <div class="item">
                <button type="submit" name="button" value="update">Edit existing Motorcycles</button>
                </div>
                <div class="item">
                    <button type="submit" name="button" value="booked">View Booked Motorcycles</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</body>
</html>