<!DOCTYPE html>
<html>
<head>
    <title>
        Greetings
    </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Motorcycle rental website</h1>
    <form method="post">
        <div class="home1">
            <h1>Enter your motorcycle brand name: </h1><input name="name"/>
            <br>
            <h1>Enter your motorcycle model: </h1><input name="model"/>
            <br>
            <button>Submit</button>
        </div>
        <div class="home">
            <h1>These are the motorcycles available for rent:</h1><br>
            <table>
                <tr>
                  <th>S.No.</th>
                  <th>Motorcycle name</th>
                  <th>Motorcycle model</th>
                </tr>
                {% for i in motors %}
                <tr>
                    <td>{{i.id}}</td>
                  <td>{{ i.name }}</td>
                  <td>{{i.model}}</td>
                </tr>
                {% endfor %}
              </table>
        </div>
        <button name="home-button" value="home">Home</button>
    </form>
    
</body>
</html>