<!DOCTYPE html>
<html>
<head>
    <title>
        Greetings
    </title>
    <link rel="stylesheet" href="/static/stylerent.css">
</head>
<body>
    <div class="title-box">
        <h1 class="title">Welcome to the Motorcycle rental website</h1>
        </div>
    <form method="post">
        <div class="home1">
            <input type="radio" name="step" id="step1-radio" class="hidden-radio" checked>
            <div class="form-step" id="step1">
                <label for="field1">Enter your motorcycle brand name: </label>
                <input type="text" id="field1" name="name"/>
                <br><br>
                <label for="step2-radio" class="button-label">Next</label>
            </div>
            <input type="radio" name="step" id="step2-radio" class="hidden-radio">
            <div class="form-step" id="step2">
                <label for="field2">Enter your motorcycle model: </label>
                <input type="text" id="field2" name="model"/>
                <br><br>
                <label for="step3-radio" class="button-label">Next</label>
            </div>
            <input type="radio" name="step" id="step3-radio" class="hidden-radio">
            <div class="form-step" id="step3">
                <button type="submit">Submit</button>
            </div>
        </div>
        <div class="home">
            <div class="rent-box"><h1>These are the motorcycles available for rent:</h1><br>
            <br>
            <table>
                <tr>
                  <th>S.No.</th>
                  <th>Motorcycle name</th>
                  <th>Motorcycle model</th>
                </tr>
                {% for i in motors %}
                <tr>
                    <td>{{loop.index}}</td>
                  <td>{{ i.name }}</td>
                  <td>{{i.model}}</td>
                </tr>
                {% endfor %}
              </table>
              </div>
        </div>
        <button name="home-button" value="home">Home</button>
    </form>
    
</body>
</html>